.blog-single{
  margin: 40px 0 60px;
  background: url("../images/bg-shap-5.png") no-repeat;
  background-position:20px bottom;
  font-family: 'Montserrat', sans-serif;
  color: #999999;
  font-size: 14px;
  letter-spacing: 0.5px;
  text-rendering: optimizeLegibility;
}


.sidebar{
  background-color: #fff;
  padding: 30px;
  li{
    padding-bottom: 20px;
    word-break:break-all;
  }

}
.balance{
  a{
    padding-right: 10px;
  }
}
.post-details{
  background-color: #fff;
  padding: 40px;
  //margin-right: -15px;
  h4{
    font-size: 24px;
    color: #000000;
    margin-bottom: 10px;
    font-weight: 600;
    letter-spacing: 0.4px;
  }
  span{
    padding-right: 10px;
  }
  ul{
    margin-bottom: 20px;
  }
  a{
    color: #999999;
    &:hover{
      color: #d51073;
    }
  }
  .list{
    position: relative;
    padding-left: 18px ;
    word-break:break-all;
    word-wrap:break-word;

    li::before {
      position: absolute;
      margin-top: 10px;
      content: "";
      left: 0;
      //top: 10px;
      height: 7px;
      width: 7px;
      background: #d51073;
      border-radius: 7px;


      //transform: rotate(45deg);
    }
  }

}



.leftTop{
  width:100%;
  display: inline-block;
  text-align: center;
  margin-bottom: 30px;
  img{
    //width: 200px;
    //height: 200px;
    width:100%;
    //border-radius: 100%;
    //-webkit-box-shadow: 3px 3px 25px 0px rgba(1, 2, 2, 0.06);
    //-moz-box-shadow: 3px 3px 25px 0px rgba(1, 2, 2, 0.06);
    //box-shadow: 3px 3px 25px 0px rgba(1, 2, 2, 0.06);
  }

}

.footershape-image-1 img {
  position: absolute;
  top: -40px;
  z-index: -1;
  left: 6%;
  -webkit-animation: scale 3s linear infinite;
  -moz-animation: scale 3s linear infinite;
  -ms-animation: scale 3s linear infinite;
  -o-animation: scale 3s linear infinite;
  animation: scale 3s linear infinite;
}
.footershape-image-3 img {
  position: absolute;
  bottom: -70px;
  z-index: -1;
  right: 0;
  -webkit-animation: scale 3s linear infinite;
  -moz-animation: scale 3s linear infinite;
  -ms-animation: scale 3s linear infinite;
  -o-animation: scale 3s linear infinite;
  animation: scale 3s linear infinite;
}
//.service-category{
//  li{
//    margin-bottom: 10px;
//    a{
//      display: flex;
//      //background: #f7f7f7;
//      background: #fff;
//      align-items: center;
//      justify-content: space-between;
//      padding: 16px 35px;
//      font-size: 16px;
//      font-weight: 500;
//      &:hover{
//        background-color: #d51073;
//        color: #fff;
//        text-decoration: none;
//        i{
//          opacity: 1;
//        }
//      }
//      i{
//        opacity: 0;
//        font-size:25px;
//      }
//    }
//  }
//}
.service-docs{
  margin-top:40px!important;
  border-top:1px solid rgba(1, 2, 2, 0.1);
  padding-top: 40px;
  li{
    margin-bottom: 10px;
    //float: left;
    width: 40%;
    display: inline-block;
    span{
      display: flex;
      background: transparent;
      align-items: center;
      padding: 16px 35px;
      font-size: 16px;
      font-weight: 500;
      //border: 2px solid #f7f7f7;
      //border: 2px solid #fff;
      color: #999999;
      &:hover{
        -webkit-box-shadow: 3px 3px 24px 0px rgba(1, 2, 2, 0.05);
        -moz-box-shadow: 3px 3px 24px 0px rgba(1, 2, 2, 0.05);
        box-shadow: 3px 3px 24px 0px rgba(1, 2, 2, 0.05);
        color:#d51073;
        cursor: pointer;
      }

      i{
        font-size: 18px;
        margin-right: 10px;
        color: #d51073;
      }
    }

  }
}

